

nav {
    margin-bottom: 20px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

textarea {
    width: 80%;
    height: 100px;
}



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 1000px;
}

h1 {
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
}

h2 {
    color: #333;
    font-size: 22px;
    margin-bottom: 10px;
}

.video {
    margin: 30px 0;
}

iframe, video {
    width: 100%;
    max-width: 1000px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}